:root{
    --cor1: #e3f9ff;
    --cor2: #3a4452;
    --shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 10px;
}

.calculator input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor1);
    cursor: pointer;
    margin: 10px;
}

.themeSwitcher{
    display: flex;
    justify-content: flex-end;
}

.themeSwitcher input{
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.themeSwitcher input:hover{
    background-color: var(--cor1);
    color: var(--cor2);
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.buttons input:hover{
    font-size: 30px;
}